body {
    background-image: url("../images/BackGround1.png");
    font-size: 18px;
    color: #72157C;
}

.header {
    background-image: url("../images/headerBG.png");
    font-size: 18px;
    font-family: Arial, Verdana, sans-serif;
    color: #72157C;
    padding: 0.5em;
    filter: alpha(Opacity=70);
    border: 2px solid #72157C;
    border-radius: 5px;
}

.logOutButton {
    font-family: Arial, Verdana, sans-serif;
    color: #72157C;
    font-size: 17px;
    width: 75px;
    height: 30px;
    border: 4px solid #23CFBE;
    background: #4ee0ab;
    border-radius: 5px;
    margin: .5em;
}

.logOutButton:hover {
    border: 4px solid #158a80;

}

a {
    padding: 0.2em;
    border: 4px solid #23CFBE;
    background: #4ee0ab;
    font-size: 17px;
    text-decoration: none;
    border-radius: 5px;
    margin: .5em;
    color: #72157C;
}

.languageSelect {
    font-family: Arial, Verdana, sans-serif;
    color: #72157C;
    margin-left: 510px;
    font-size: 17px;
    width: 120px;
    height: 30px;
    border: 4px solid #23CFBE;
    background: #4ee0ab;
    border-radius: 5px;

}

.workSpaceTable {
    background-image: url("../images/headerBG.png");
    border: 3px solid #72157C;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    padding: 5px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #72157C; /* Параметры рамки */
    text-align: center; /* Выравниваем текст по центру ячейки */
}

.blockButton {
    font-family: Arial, Verdana, sans-serif;
    color: #BD1449;
    font-size: 17px;
    width: 175px;
    height: 30px;
    border: 4px solid #BD1449;
    background: #F7C3CF;
    border-radius: 5px;
    margin: .5em;
}

.blockButton:hover {
    border: 3px solid #BD1449;;
}

.unBlockButton {
    font-family: Arial, Verdana, sans-serif;
    color: #72157C;
    font-size: 17px;
    width: 175px;
    height: 30px;
    border: 4px solid #23CFBE;
    background: #4ee0ab;
    border-radius: 5px;
    margin: .5em;
}

.unBlockButton:hover {
    border: 4px solid #158a80;
}

input {
    box-sizing: border-box;
    width: 250px;
    font-family: Arial, Verdana, sans-serif;
    color: #72157C;
    font-size: 16px;
    border: 2px solid #23CFBE;
    background: #DBEBD3;
    border-radius: 5px;

}

.fullNameInput {
    width: 300px;
}

.inputId {
    width: 25px;
}

.inputStatus {
    width: 140px;
}

.teacherWorkButton {
    font-family: Arial, Verdana, sans-serif;
    color: #72157C;
    font-size: 17px;
    width: 240px;
    height: 30px;
    border: 4px solid #23CFBE;
    background: #4ee0ab;
    border-radius: 5px;
    margin: .5em;
}

.teacherWorkButton:hover {
    border: 4px solid #158a80;
}
.courseWorkButton{
    font-family: Arial, Verdana, sans-serif;
    color: #72157C;
    font-size: 17px;
    border: 4px solid #23CFBE;
    background: #4ee0ab;
    border-radius: 5px;
    margin: .5em;
}
.courseWorkButton:hover {
    border: 4px solid #158a80;
}
.confirmSelectButton {
    font-family: Arial, Verdana, sans-serif;
    color: #72157C;
    font-size: 17px;
    width: 90px;
    height: 30px;
    border: 4px solid #23CFBE;
    background: #4ee0ab;
    border-radius: 5px;
    margin: .5em;
}

.confirmSelectButton:hover {
    border: 4px solid #158a80;

}